body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, rgb(0, 247, 247) 0%, rgb(245, 245, 245)100%);
}
.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*Navigation*/
.sticky {
    position: fixed;
    top:0;
    width:100%;
    z-index: 5;
}
.main-nav{
    display: flex;
    list-style: none;
    font-size:0.7em;
    margin:0;
    background: grey;
}

@media only screen and (max-width: 600px){
    .main-nav{
        font-size:0.5em;
        padding: 0;
    }
}

.push{
    margin-left:auto;
}

li {
    padding:20px;
    transition: transform .2s;
    
}
li:hover{
    transform: scale(1.25);
}

a {
    color: #FFF;
    text-decoration: none;

}



/*cover*/
.cover{
    width:100%;
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh
}
/* Body */
.about{
    margin:20px;
    padding:20px 20px 50px;
    color:black;
}
object {
    width: 100%;
    height: auto;
    min-height: 200px;
    border: 0;
    transition: transform .2s;
}
object:hover{
    transform: scale(1.5)
} 

.img-box{
    width:25vw;
    height: auto;
    float: left;
    padding: 10px
   
}

.overlay-txt{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  padding: 20px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
  }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:blue;
}

/* Caption text */
.text {
  color:black;
  font-size: 15px;
  padding: 8px 10px 20px;
  position: absolute;
  right:5vw;
  bottom: 20px;
  width: 100%;
  text-align: right;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Contact */
.cover2{
    width: 100%;
    height: 50rem;
    
}


/*Grid*/
.grid-wrap{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}
a > img {
    max-width:120px;
}

.box > img {
    width: 50rem;
    max-width: 300 px;
    height: auto;
    padding:200px;
    
}

.box {
    justify-content: center;
    background-color:white;
   
    margin: 20px;
}

/*footer*/

footer {
    padding:20px;
    text-align: center;
}


