body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, rgb(0, 247, 247) 0%, rgb(245, 245, 245)100%);
}
.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform:rotate(-7deg);
}

/*Navigation*/
.sticky {
    position: fixed;
    top:0;
    width:100%;
    z-index: 5;
}
.main-nav{
    display: flex;
    list-style: none;
    font-size:0.7em;
    margin:0;
    background: grey;
}

@media only screen and (max-width: 600px){
    .main-nav{
        font-size:0.5em;
        padding: 0;
    }
}

.push{
    margin-left:auto;
}

li {
    padding:20px;
    transition: transform .2s;
    
}
li:hover{
    transform: scale(1.25);
}

a {
    color: #FFF;
    text-decoration: none;

}

/*cover*/
.cover{
    width:100%;
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh
}
/* Body */
.about{
    margin:20px;
    padding:20px;
    color:black;
}
 
.img-box{
    width:25vw;
    height: auto;
    float: left;
    padding: 10px
   
}

.overlay-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Grid*/
.grid-wrap{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
}

.box > img {
    width: 100%;
    
}

.box {
    background-color: #444;
   
    margin: 20px;
}

/*footer*/

footer {
    padding:20px;
    text-align: center;
}


